################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameStateManager/obj/Release/GameStateManager.csproj.CoreCompileInputs.cache
/bin
/obj
