################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UpgradeLog2.htm
/UpgradeLog.htm
/GameStateManager/obj/Debug
